@model IEnumerable<ChamadaApi.Domain.Leilao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a href="/home/RetornarLeilao">Cadastrar leilão</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Cadastro
            </th>
            <th>
                Descrição
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <a href="/Home/RetornarLeilao?codigo=@item.Codigo">
                    @item.Codigo
                </a>
            </td>
            <td>
                @item.Data.ToShortDateString()
            </td>
            <td>
                @item.Descricao
            </td>
            <td>
                <button class="btnExcluir" onclick="excluirLeilao(@item.Codigo)">
                    Excluir
                </button>
            </td>
        </tr>
    }
    </tbody>
</table>

<script>
    var excluirLeilao = function (id) {
        $.ajax({
            url: "/Home/ExcluirLeilao?codigo=" + id,
            async: true,
            type: "DELETE",
            success: function (data) {
                if (data.success) {
                    JsAlert(data.message, function () {
                        location.reload();
                    });
                } else {
                    JsAlert(data.message);
                }
            },
            error: function () {
                JsAlert("Erro inesperado ao tentar excluir o leilão.");
            }
        });
    };

</script>