@model ErrorViewModel
@{
    Layout = null;
    ViewData["Title"] = "Error";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@Model.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <div class="container py-3">
        <div class="p-3 bg-white mb-4" style="height: 80vh; display: flex; justify-content: center;">
            <div style="display: flex; justify-content: center; align-items: center; flex-direction:column; position: relative; top: -40px;">
                @if(Model != null)
                {
                    <p style="color:#336076; font-size: 32px; font-weight: 500; margin: 0;text-align: center;">@Model.Title</p>
                    <p style="text-align: center">@Html.Raw(Model.Message)</p>
                }
                else
                {
                    <p style="color:#336076; font-size: 32px; font-weight: 500; margin: 0;">Oops!</p>
                    <p style="text-align: center">Ocorreu um erro durante o processamento da sua solicitação.</p>
                }

                <a href="/home" style="color: #fff; background: #3d8fb2; padding: 7px 20px; border-radius: 3px;">Ir para a Home page</a>
            </div>
        </div>
    </div>
</body>
</html>
